<!-- Interpolation -->
<!-- <img src="{{storeInfo.coverImgURL}}" alt=""> -->

<!-- Property binding -->
<!-- Structural directives -->
<img *ngIf="showImg" [src]="storeInfo.coverImgURL" alt="">

<h1>
  <!-- Interpolation -->
  Store name: {{storeInfo.name}}
  <!-- Event Binding -->
  <button class="btn btn-primary" (click)="toggleImg()">Toggle Img</button>
</h1>

<h3>
  Our locations:
</h3>
<!-- Structural directives -->
<ul>
  <li *ngFor="let loc of storeInfo.branches">
    {{loc}}
  </li>
</ul>
